.header {
    padding: 25px 0 0 0;
}

.container {

}

.nav {

}

.nav::after {
    content: "";
    display: block;
    width:100%;
    height: 1px;
    margin: 32px 0 0 0;
    background-color: var(--bg-main-gray);
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--font-color-gray);
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 100%;
    bottom: -10px;
    background-color: var(--color-black);
    transition: right .22s;
}

.nav-link:hover {
    color: var(--color-black);
}

.nav-link:hover::after {
    right: 0;
}

@media (max-width: 480px) {
    header {
        display: none;
    }
}