.history {
    padding: 65px 0 70px;
    text-align: center;
}

.history-title {
    margin: 0 0 70px 0;
    font-size: 34px;
    font-weight: 700;
    color: var(--color-black);
}

.history-photo {
    width: min(950px, 100%);
    height: 655px;
    object-fit: cover;
}

.history-description {
    margin: 30px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}

@media (max-width: 480px) {

    .history-title {
    margin: 0 0 60px 0;
}

    .history-photo {
    height: 480px;
}

    .history-description {
    margin: 30px 0 0 0;
    font-size: 14px;}

    .history {
    padding: 50px 0 70px;

}
}