.mobile-navigation {
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    
}

.mobile-navigation-burger {
    width: 33px;
    height: 18px;
    cursor: pointer;
}

.mobile-navigation-toggler {
    display: none;
}


.mobile-navigation-nav {
    padding: 55px 20px 0;
    position: fixed;
    /* top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
    inset: 0;
    background-color: var(--bg-main);
    translate: 100% 0;
    transition: all .3s;
    visibility: hidden;
}

.mobile-navigation-toggler:checked + .mobile-navigation-nav {
    translate:0;
    visibility: visible;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.mobile-navigation-close {
    top: 60px;
    right: 30px;
    position: absolute;

}

.mob-nav-link {
     font-size: 34px;
    font-weight: 700;
    color: var(--font-color-gray);
}

.mob-
 {
}

.nav-link {
}

.mobile-navigation-cross {
    width: 25px;
    height: 22px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .mobile-navigation {
    display: block;
}
}