.portfolio {
    background-color: var(--bg-main-gray);
    padding: 80px 20px 100px;
    text-align: center;
}

.portfolio-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-black);
}

.portfolio-picture {
    width: min(100%, 950px);
    height: min(100%, 630px);
    object-fit: contain;
    margin: 75px 0 40px;
}

.portfolio-description {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}

@media (max-width: 480px) {

    .portfolio-picture {
    margin: 50px 0 30px;
}

    .portfolio-description {
    font-size: 14px;
}
}